:root {
    font-size: 24pt;;
}
body {
    font-size: 24pt;
}
h1 {
    font-size: 32pt;
    text-align: center;
}
h2 {
    font-size: 28pt;
    text-align: center;
}
.content {
    width: 100%;
}

.navbar {
    background-color: var(--SRprimary);

}

.navbar a {
    color: white;
    font-size: 40pt;
}

.footer-item {
    background-color: var(--SRprimary);
    font-size: 40pt;
    color: white;
    text-align: center;
    border: 2px solid var(--SRfooter-selected) ;
}

.footer-item-selected {
    background-color: var(--SRfooter-selected);
}

.btn {
    font-size: 24pt;
    background-color: var(--SRprimary);
    color: white;
    padding: 20px;
    min-width: 180px;
    max-width: 200px;
    margin: 20px;
    border-radius: 10px;
}

.landingpage {
    background: linear-gradient(158.86deg, #40BF8E 4.13%, #196145 52.09%, #194333 88.61%);
    mix-blend-mode: normal;
    height: auto;
}



input {
    background: #FFFFFF;
    border: 1px solid #595959;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    max-width: 80%;
}

.container-fluid {
    margin: 0px;
}

.pillList-item {
    cursor: pointer;
    display: inline-block;
    float: left;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    margin: 0 12px 12px 0;
    text-transform: capitalize;
}

.pillList-item input[type="checkbox"]{
    display: none;
}

.PillList-item input[type="checkbox"]:checked + .PillList-label {
    background-color: #40bf8e;
    border: 1px solid rgb(255, 255, 255);
    color: #fff;
    padding-right: 16px;
    padding-left: 16px;
}

.PillList-label {
    border: 1px solid #1da1f2;
    border-radius: 20px;
    color: #1c94e0;
    display: block;
    padding: 7px 28px;
    text-decoration: none;
}

.PillList-item
input[type="checkbox"]:checked
+ .PillList-label
.Icon--checkLight {
    display: inline-block;
}

.PillList-item input[type="checkbox"]:checked + .PillList-label .Icon--addLight,
.PillList-label .Icon--checkLight,
.PillList-children {
    display: none;
}

.PillList-label .Icon {
    width: 12px;
    height: 12px;
    margin: 0 0 0 12px;
}

.Icon--smallest {
    width: 12px;
    height: 12px;
}

.Icon {
    background: transparent;
    display: inline-block;
    font-style: normal;
    vertical-align: baseline;
    position: relative;
}